.actionContainer {
  white-space: no-wrap;
  background-color: purple;
}
.leftWindow {
  display: inline-block;
  width: 70%;
  height: 80vh;
  box-sizing: border-box;
  background-color: skyblue;
}
.rightWindow {
  display: inline-block;
  width: 28%;
  height: 80vh;
  box-sizing: border-box;
  background-color: tomato;
}
.bottomWindow {
  height: 20vh;
  background-color: springgreen;
}
