.leftWindow {
  display: inline-block;
  width: 70vw;
  height: 80vh;
  background-color: skyblue;
}
.rightWindow {
  display: inline-block;
  width: 29vw;
  height: 80vh;
  background-color: tomato;
}
.bottomWindow {
  height: 20vh;
  background-color: springgreen;
}
